name = "affine-worker"
main = "src/index.ts"
compatibility_date = "2023-11-21"
workers_dev = true
minify = true

# [limits]
# cpu_ms = 500
[observability]
enabled = false
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = false
persist = true
head_sampling_rate = 1
